Localization
{
	ja
	{
		// *** Exceptional ***

		#autoLOC_SCANsat_exceptional0001 = @/targetBodyValid3 に対して高解像度のSCANsat調査をグループで実施してください。
		#autoLOC_SCANsat_exceptional0002 = @/targetBodyValid3 に対して高解像度のSCANsat調査をグループで実施してください。
		#autoLOC_SCANsat_exceptional0003 = スキャンは宇宙機が読み込まれていない状態でも実行できます。
		#autoLOC_SCANsat_exceptional0004 = @/targetBodyValid3 に対して複数回の高解像度スキャンを実施してください。
		#autoLOC_SCANsat_exceptional0005 = @/targetBodyValid3 の表面について、詳細な地図と調査データを取得しました。
		#autoLOC_SCANsat_exceptional0006 = 対象天体の高解像度地形スキャン率が90％未満である必要があります。
		#autoLOC_SCANsat_exceptional0007 = 対象天体の高解像度資源スキャン率が90％未満である必要があります。
		#autoLOC_SCANsat_exceptional0008 = 対象天体を周回しているか、もしくはその天体が次のターゲットである必要があります。
		#autoLOC_SCANsat_exceptional0009 = 対象天体の高解像度視覚スキャン率が90％未満である必要があります。

		// *** Significant ***

		#autoLOC_SCANsat_significant_0001 = @/targetBodyValid2 に対してSCANsat調査をグループで実施してください。
		#autoLOC_SCANsat_significant_0002 = @/targetBodyValid2 に対してSCANsat調査をグループで実施してください。
		#autoLOC_SCANsat_significant_0003 = スキャンは宇宙機が読み込まれていない状態でも実行できます。
		#autoLOC_SCANsat_significant_0004 = @/targetBodyValid2 に対して複数回の低解像度スキャンを実施してください。
		#autoLOC_SCANsat_significant_0005 = 素晴らしい成果です。このスキャンは我々の調査チームにとって非常に貴重なデータとなるでしょう。
		#autoLOC_SCANsat_significant_0006 = 対象天体の低解像度地形スキャン率が80％未満である必要があります。
		#autoLOC_SCANsat_significant_0007 = 対象天体の低解像度視覚スキャン率が80％未満である必要があります。
		#autoLOC_SCANsat_significant_0008 = 対象天体の低解像度資源スキャン率が80％未満である必要があります。
		#autoLOC_SCANsat_significant_0009 = 対象天体を周回している必要があります。

		// *** Trivial ***

		#autoLOC_SCANsat_trivial_0001 = @/targetBodyValid1 に対して @/scanReadString1 SCANsat 調査を実施してください。
		#autoLOC_SCANsat_trivial_0002 = @/targetBodyValid1 に対して @/scanReadString1 SCANsat 調査を実施してください。
		#autoLOC_SCANsat_trivial_0003 = スキャンは宇宙機が読み込まれていない状態でも実行できます。
		#autoLOC_SCANsat_trivial_0004 = @/targetBodyValid1 に対して簡単なスキャンを行ってください。
		#autoLOC_SCANsat_trivial_0005 = よくやりました。この簡単な調査でも専門家にとっては多くの研究材料となります。
		#autoLOC_SCANsat_trivial_0006 = ターゲットは母星系に属する天体です。
		#autoLOC_SCANsat_trivial_0007 = 対象天体のスキャン完了率が70％未満である必要があります。
	}
}