Localization
{
	ja
	{
		#autoLOC_SCANsat_Agents_Name			= SCAN
		#autoLOC_SCANsat_Agents_Title			= SCAN: 先進的航法に関する科学委員会
		#autoLOC_SCANsat_Agents_Description		= SCAN機関は太陽系の全惑星のマッピングと調査に専念しています。
	}
}