Localization
{
	ja
	{
		#autoLOC_SCANsat_settingsHelpScanningToggle			= すべてのSCANsatスキャンを切り替えます。
		#autoLOC_SCANsat_settingsHelpBackground				= 選択した天体でのバックグラウンドスキャンを切り替えます。
		#autoLOC_SCANsat_settingsHelpTimeWarp				= 時間加速中のスキャン頻度を調整します。\n設定値を高くするとマップの欠損が少なくなりますが、\n高い時間加速ではパフォーマンスに影響が出る可能性があります。
		#autoLOC_SCANsat_settingsHelpGroundTracks			= マップモードでスキャン活動の\n視覚的なインジケータを表示します。
		#autoLOC_SCANsat_settingsHelpGroundTracksActive			= 地上軌跡インジケータは\nアクティブな宇宙船に対してのみ表示するように制限できます。
		#autoLOC_SCANsat_settingsHelpStockUIStyle			= 標準KSPスタイルのUI要素とUnityスタイルの要素を切り替えます。
		#autoLOC_SCANsat_settingsHelpOverlayTooltips			= 惑星オーバーレイマップが有効な場合、現在のマウス位置にツールチップを表示します。\nこれらのツールチップには、スキャン範囲に応じて、カーソル座標、地形高度、傾斜、バイオーム名、\n資源量が含​​まれます。
		#autoLOC_SCANsat_settingsHelpWindowTooltips			= 一部のマップウィンドウボタンにツールチップを表示します。\nこれらは主にアイコンボタンを識別するために使用されます。
		#autoLOC_SCANsat_settingsHelpLegendTooltips			= マップ凡例にツールチップを表示します。\n無効にするとバイオームマップ凡例も無効になります。
		#autoLOC_SCANsat_settingsHelpWindowTooltips 		= 特定のスキャナータイプでは、表面が\n日光に照らされている必要があります。
		#autoLOC_SCANsat_settingsHelpDaylightCheck 			= 一部のスキャナーは、正しく機能するために\nエリアが日光下にある必要があります。
		#autoLOC_SCANsat_settingsHelpStockToolbar			= 標準ツールバーを使用します。\nBlizzy78ツールバーと同時に使用できます。
		#autoLOC_SCANsat_settingsHelpToolbarMenu			= 標準ツールバーにポップアウトメニューを使用して、利用可能なすべてのウィンドウを表示します。
		#autoLOC_SCANsat_settingsHelpMechJeb				= SCANsatのズームマップとビッグマップのウェイポイント選択モードを\n使用して、MechJebの着陸地点を選択できます。
		#autoLOC_SCANsat_settingsHelpMechJebLoad			= 保存されたMechJebの着陸目標をロードします。\nこれは、有効なMechJeb搭載機で飛行シーンにいる場合にのみ機能します。
		#autoLOC_SCANsat_settingsHelpMapGenSpeed			= すべてのSCANsatマップ生成速度を調整します。\n値を低くするとCPUリソースを節約し、マップ生成の\nパフォーマンスへの影響を軽減できる場合があります。
		#autoLOC_SCANsat_settingsHelpResetWindows			= すべてのウィンドウの位置とスケールをリセットします。\nウィンドウが画面外に完全にドラッグされた場合や、\nウィンドウが表示されない場合に使用します。
		#autoLOC_SCANsat_settingsHelpResetPlanetData			= 現在の天体について選択したSCANsatデータをリセットします。\n有効にする前に確認ウィンドウが開きます。\n元に戻すことはできません。
		#autoLOC_SCANsat_settingsHelpResetAllData			= すべての天体について選択したSCANsatデータをリセットします。\n有効にする前に確認ウィンドウが開きます。\n元に戻すことはできません。
		#autoLOC_SCANsat_settingsHelpVesselsSensorsPasses		= 現在アクティブなSCANsatセンサーに関する情報。\n宇宙船はアクティブなセンサーを持つ宇宙船の数を示します。\nセンサーはセンサーの総数を示します。\n複数のセンサータイプを持つ機器は個々のセンサーをそれぞれカウントします。\nパスは毎秒実行されるセンサー更新の数を示します。\nこの値は時間加速解像度の設定に影響されます。
		#autoLOC_SCANsat_settingsHelpGreyScale				= 白黒のSCANsatマップに真のグレースケールカラースペクトルを使用します。\n高度マップのピクセルは黒と白の間で補間されます。\n各天体の最小および最大地形高度が制限を定義します。
		#autoLOC_SCANsat_settingsHelpExportCSV				= ビッグマップのエクスポートボタンを使用するときに、マップテクスチャと一緒に.csvファイルをエクスポートします。\nファイルには、各ピクセルの座標と地形高度が含まれます。\nピクセルは左から右、上から下にラベル付けされます。
		#autoLOC_SCANsat_settingsHelpSetMapWidth			= SCANsatビッグマップテクスチャの幅の正確な値を入力します。\n値は幅550～8192ピクセルに制限されます。\n設定ボタンを押して値を適用します。
		#autoLOC_SCANsat_settingsHelpWindowScale			= すべてのSCANsatウィンドウのスケールを調整します。
		#autoLOC_SCANsat_settingsHelpFillPlanet				= 現在の天体について選択したSCANsatデータを補完します。
		#autoLOC_SCANsat_settingsHelpOverlayHideZero	= 現在の天体に資源が存在しない場合、UIから資源を非表示にします。\nそれ以外の場合、資源は標準スキャン閾値レベルに達した後に非表示になります。
		#autoLOC_SCANsat_settingsHelpFillAll				= すべての天体について選択したSCANsatデータを補完します。
		#autoLOC_SCANsat_resourceSettingsHelpBiomeLock			= 標準の地表バイオームスキャンの要件を回避します。\nSCANsatディスプレイは、地表バイオームスキャンの有無にかかわらず、\n資源量の完全な精度を表示します。
		#autoLOC_SCANsat_resourceSettingsHelpInstant			= デフォルトでは、標準M700資源スキャナーの軌道調査がすべてのSCANsat資源マップを補完します。\nこれは無効にでき、すべての資源スキャンに標準SCANsat方式が必要になります。\n標準資源スキャンが無効になっている場合は自動的に無効になります。
		#autoLOC_SCANsat_resourceSettingsHelpNarrowBand			= 多くのSCANsat機能では、完全に正確な資源量データを得るために、\n現在の宇宙船に搭載されているか、天体の軌道上にある狭帯域資源スキャナーが必要です。\nこれを無効にすると、これらの制限を回避できます。
		#autoLOC_SCANsat_resourceSettingsHelpDisableStock		= すべての標準資源スキャン機能を無効にします。\nすべての資源データにはSCANsatスキャン方式が必要になります。\nいくつかの標準資源機能をSCANsatツールに置き換えます。\nこれらには、右クリックでの読み取り値や惑星オーバーレイマップが含まれます。
		#autoLOC_SCANsat_resourceSettingsHelpResetStockResource		= 現在の天体の標準資源スキャン範囲をリセットします。\nすべての変更を有効にするには、リロードまたはシーンの変更が必要になる場合があります。\n有効にする前に確認ウィンドウが開きます。\n元に戻すことはできません。
		#autoLOC_SCANsat_resourceSettingsHelpResetAllStockResource	= すべての天体の標準資源スキャン範囲をリセットします。\nすべての変更を有効にするには、リロードまたはシーンの変更が必要になる場合があります。\n有効にする前に確認ウィンドウが開きます。\n元に戻すことはできません。
		#autoLOC_SCANsat_resourceSettingsHelpOverlayInterpolation	= 惑星オーバーレイおよびビッグマップ資源オーバーレイの構築に使用される\n資源量測定の数を変更します。\n値を小さくするとマップの精度が向上します。\n値が低いとマップの生成が遅くなります。
		#autoLOC_SCANsat_resourceSettingsHelpOverlayHeight		= 惑星オーバーレイおよびビッグマップ資源オーバーレイの構築に使用される\nテクスチャサイズ（マップ幅は高さの2倍）を変更します。\n値を大きくするとマップの品質と精度が向上します。\n値が高いとマップの生成が遅くなります。
		#autoLOC_SCANsat_resourceSettingsHelpOverlayBiomeHeight		= 惑星オーバーレイバイオームマップの構築に使用される\nテクスチャサイズ（マップ幅は高さの2倍）を変更します。値を大きくすると\nマップの品質と精度が向上します。\n値が高いとマップの生成が遅くなります。
		#autoLOC_SCANsat_resourceSettingsHelpOverlayTransparency	= 惑星オーバーレイ資源マップに灰色の背景を作成します。\n天体のどの部分がスキャンされたが資源を含んでいないかを\n明確にするために使用されます。
		#autoLOC_SCANsat_resourceSettingsHelpScanThreshold		= SCANsatセンサーでスキャンした後、天体に標準資源スキャンを適用するために使用される閾値レベル。\nこれは、契約や他のアドオンが標準資源スキャンを実行する必要がある場合に便利です。\nテキストボックスに0～100の値を設定し、設定ボタンをクリックします。\nすべての天体がすぐにチェックされます。\n天体はロード時またはシーン変更時にもチェックされます。\n変更を有効にするにはリロードが必要な場合があります。
		#autoLOC_SCANsat_colorTerrainHelpMin				= 地形カラーパレットの低高度カットオフを定義します。\nこの高度より下はすべて最低色で表示されます。
		#autoLOC_SCANsat_colorTerrainHelpMax				= 地形カラーパレットの高高度カットオフを定義します。\nこの高度より上はすべて最高色で表示されます。
		#autoLOC_SCANsat_colorTerrainHelpClampToggle			= 低高度値と高高度値の間のカットオフを定義するために使用されます。\nこれは特に海洋惑星で陸と海の明確な区別を定義するのに役立ちます。
		#autoLOC_SCANsat_colorTerrainHelpClamp				= クランプ高度カットオフを定義します。\nカットオフより下は、選択したカラーパレットの最初の2色で表されます。\nカットオフより上は、残りの色で表されます。
		#autoLOC_SCANsat_colorTerrainHelpReverse			= 現在選択されている\nカラーパレットの順序を逆にします。
		#autoLOC_SCANsat_colorTerrainHelpDiscrete			= 各パレットで定義された特定の色のみを使用してマップを描画します。\n色間を滑らかに補間する代わりに使用します。
		#autoLOC_SCANsat_colorTerrainHelpPaletteSize			= 現在選択されているカラーパレットで\n利用可能な色数を調整します。
		#autoLOC_SCANsat_colorBiomeHelpStock				= SCANsatバイオームマップに\n標準バイオーム配色を使用します。
		#autoLOC_SCANsat_colorBiomeHelpWhiteBorder			= バイオーム間に白い境界線を描画します。\n惑星オーバーレイバイオームマップには適用されません。
		#autoLOC_SCANsat_colorBiomeHelpTransparency			= バイオームマップの透明度を調整します。\n地形の標高がバイオームマップの背後に表示されます。\n地形描画を無効にするには0%に設定します。
		#autoLOC_SCANsat_colorPickerHelpLow				= 上部のカラースウォッチはこのカラースペクトルの\n下限の更新された色選択を示します。\n下部のカラースウォッチは現在アクティブな色を示します。
		#autoLOC_SCANsat_colorPickerHelpHigh				= 上部のカラースウォッチはこのカラースペクトルの\n上限の更新された色選択を示します。\n下部のカラースウォッチは現在アクティブな色を示します。
		#autoLOC_SCANsat_colorResourceHelpMin				= 選択した天体の資源濃度の下限カットオフ。\nこのレベルの資源鉱床は、現在の資源オーバーレイカラー\nスペクトルの下限を使用して表示されます。\nこの値より下の資源鉱床は表示されません。
		#autoLOC_SCANsat_colorResourceHelpMax				= 選択した天体の資源濃度の上限カットオフ。\nこの値より上の資源鉱床は、現在の資源オーバーレイカラー\nスペクトルの上限を使用して表示されます。
		#autoLOC_SCANsat_colorResourceHelpTransparency			= 資源オーバーレイの透明度レベルを定義します。\n増加させると、下にある地形、傾斜、またはバイオームマップがより多く表示されるようになります。\nこれは惑星オーバーレイ資源マップ上の資源鉱床の透明度にも影響します。
		#autoLOC_SCANsat_colorResourceHelpApply				= 現在の値を、選択した資源と\n天体にのみ適用します。
		#autoLOC_SCANsat_colorResourceHelpApplyAll			= 現在の値を、選択した資源について\nすべての天体に適用します。
		#autoLOC_SCANsat_colorResourceHelpDefault			= 選択した資源と天体についてのみ\nデフォルト値に戻します。
		#autoLOC_SCANsat_colorResourceHelpDefaultAll			= 選択した資源について、すべての天体の\nデフォルト値に戻します。
		#autoLOC_SCANsat_colorHelpSaveToConfig				= すべてのカラー設定値をSCANsat/Resourcesフォルダ内の\n設定ファイルに保存します。\nこれらの値は新しいセーブデータや「デフォルトに戻す」ボタンの\nデフォルト値として機能します。\nこのセーブファイルに適用するために値を設定ファイルに保存する必要はありません。
		#autoLOC_SCANsat_colorSlopeHelpCutoff				= 選択した2つの傾斜カラーペア間の\nカットオフレベルを調整します。
	}
}