Localization
{
	ja
	{
		#autoLOC_SCANsat_Analyze		= データ分析
		#autoLOC_SCANsat_StartScan		= スキャン開始
		#autoLOC_SCANsat_StopScan		= スキャン停止
		#autoLOC_SCANsat_ToggleScan		= スキャン切替
		#autoLOC_SCANsat_Extend			= 展開
		#autoLOC_SCANsat_Retract		= 格納
		#autoLOC_SCANsat_Unknown		= 不明
		#autoLOC_SCANsat_All_Disabled		= 全スキャン無効
		#autoLOC_SCANsat_Disabled		= スキャン無効
		#autoLOC_SCANsat_TooLow			= 低すぎる
		#autoLOC_SCANsat_SubOptimal		= 次善
		#autoLOC_SCANsat_Ideal			= 理想的
		#autoLOC_SCANsat_TooHigh		= 高すぎる
		#autoLOC_SCANsat_NoData			= データなし
		#autoLOC_SCANsat_Abundance		= 存在量
		#autoLOC_SCANsat_Surface		= 地表
		#autoLOC_SCANsat_AltitudeMin		= 高度 (最小): <<1>>km\n
		#autoLOC_SCANsat_AltitudeBest		= 高度 (最適): <<1>>km\n
		#autoLOC_SCANsat_AltitudeMax		= 高度 (最大): <<1>>km\n
		#autoLOC_SCANsat_Types 			= <b>スキャンタイプ:</b>
		#autoLOC_SCANsat_Daylight 		= 日照必要: <<1>>
		#autoLOC_SCANsat_FOV			= FOV: <<1>>
		#autoLOC_SCANsat_MapProjection		= 地図投影法
		#autoLOC_SCANsat_MapType		= マップタイプ
		#autoLOC_SCANsat_MapResource		= 資源
		#autoLOC_SCANsat_MapBody		= 天体
		#autoLOC_SCANsat_GeneralSettings	= 一般設定
		#autoLOC_SCANsat_BackgroundSettings	= バックグラウンド設定
		#autoLOC_SCANsat_ResourceSettings	= 資源設定
		#autoLOC_SCANsat_DataManagement		= データ管理
		#autoLOC_SCANsat_ColorManagement	= カラー管理
		#autoLOC_SCANsat_ScanInfo = SCANセンサー
		#autoLOC_SCANsat_ScanInfoStatus = SCANステータス
		#autoLOC_SCANsat_ScanInfoAltitude = SCAN高度
		#autoLOC_SCANsat_ScanInfoType = SCANタイプ
		#autoLOC_SCANsat_ScanInfoFOV = SCAN FOV
		#autoLOC_SCANsat_ScanInfoPower = SCAN電力
		#autoLOC_SCANsat_ScanInfoDaylight = 地表の日照状況
		#autoLOC_SCANsat_ScanResourceDisplay = SCAN資源
	}
}