Localization
{
	ja
	{
		#autoLOC_SCANsat_BTDT_Title			= SCAN BTDT® (走破済みセンサー)
		#autoLOC_SCANsat_BTDT_Description		= この小型センサーは近くの異常を自動的に識別できます。非常に短い距離と非常に低い高度でのみ機能するため、主に訪問済みで識別された異常を追跡するのに役立ちます。

		#autoLOC_SCANsat_BTDT_Exo_Description 		= このモデルのスキャン装置には、近くにある興味深い特徴に素早く焦点を合わせるように設計されたパッシブセンサーとアクティブセンサーのセットが含まれています。

		#autoLOC_SCANsat_Multi_Title			= SCAN マルチスペクトルセンサー
		#autoLOC_SCANsat_Multi_Description		= このマルチチャンネルセンサーは、いくつかの赤外線、可視光、およびレーダー帯域にわたる放射線を検出します。これにより、地形タイプとバイオームを区別する能力が得られます。また、地上の構造物などの異常も検出できます。

		#autoLOC_SCANsat_Radar_Title			= SCAN レーダー高度計センサー
		#autoLOC_SCANsat_Radar_Description		= SCANがお届けする高性能レーダー高度計センサーです。これはこのセンサーファミリーのエントリーレベルモデルであり、通常はおもちゃのロケットやラジコン飛行機とセットで販売されています。フォーカスグループテストで対象者の95%がロケットエンジンの排気管にダクトテープで貼り付けようとしたことが判明した後、この改良された新モデルはさらに使いやすくなりました。

		#autoLOC_SCANsat_SAR_Title			= SCAN SAR高度計センサー
		#autoLOC_SCANsat_SAR_Description		= この合成開口レーダーセンサーは、飛行経路を利用してはるかに大きなアンテナをシミュレートします。これにより、より高い解像度で地形の標高を検出できます。欠点は、視野が比較的小さく、より高い高度でより良く機能することです。
		
		#autoLOC_SCANsat_Radar3B_Title				= R-3B レーダー高度計
		#autoLOC_SCANsat_Radar3B_Description	= 高精度レーダー高度計は、衛星直下の非常に狭い範囲で基本的な高度データを収集できます。適度な電力を消費し、日照下および非日照下の両方で機能します。
		
		#autoLOC_SCANsat_RadarEO_Title				= R-EO-1 レーダーアンテナ
		#autoLOC_SCANsat_RadarEO_Description	= このエントリーレベルのLバンドレーダー高度計は、低軌道から中程度の範囲で低解像度の高度データを収集します。適度な電力を消費し、日照下および非日照下の両方で機能します。
	
		#autoLOC_SCANsat_SARX_Title				= SAR-X アンテナ
		#autoLOC_SCANsat_SARX_Description	= 基本的な合成開口レーダー機器で、レーダー信号を送信し、ピング中の衛星の動きを利用して、はるかに大きなディッシュで受信するのを合成します。低軌道から非常に狭い幅で高解像度の高度データを効果的に取得します。大量の電力を消費しますが、日照下および非日照下の両方で機能します。
		
		#autoLOC_SCANsat_SARC_Title				= SAR-C アンテナ
		#autoLOC_SCANsat_SARC_Description	= 高度な合成開口レーダー機器で、より多くの電力を消費してより広い範囲で、より高い高度から動作します。中軌道から高解像度の高度データを効果的に取得しますが、非常に狭い動作範囲に制限されます。大量の電力を消費し、日照下および非日照下の両方で機能します。
		
		#autoLOC_SCANsat_SARL_Title				= SAR-L アンテナ
		#autoLOC_SCANsat_SARL_Description	= 最も高度な合成開口レーダー機器で、巨大なアンテナを使用して複数の偏波のレーダーエネルギーを送受信します。高軌道から広範囲の地形をマッピングでき、受信データの性質が豊富なためバイオームもマッピングできます。非常に大量の電力を消費し、日照下および非日照下の両方で機能します。
	
		#autoLOC_SCANsat_Multi_MS1_Title					= MS-1 マルチスペクトルスキャナー
		#autoLOC_SCANsat_Multi_MS1_Description		= この低解像度マルチスペクトルスキャナーは、ターゲットの表面から反射された光を観測して、低詳細のカラーマップとバイオームマップを提供します。このスキャナーモデルのエントリーレベルのコンポーネントのため、効果的に動作するには低軌道に配置する必要があり、資源を検出できません。少量の電力を消費し、日照下でのみ動作します。
		
		#autoLOC_SCANsat_Multi_MSR_Title					= MS-R 改良型マルチスペクトルスキャナー
		#autoLOC_SCANsat_Multi_MSR_Description		= 改良型マルチスペクトルスキャナーは真の万能型で、惑星の表面から反射された光を観測し、低詳細のカラー画像とバイオームマップを提供します。地表資源さえも検出できます。改良された光学系と電子機器により、エントリーレベル製品と比較して高軌道で効果的な動作が可能ですが、狭い範囲でのみです。少量の電力を消費し、日照下でのみ動作します。
		
		#autoLOC_SCANsat_Multi_MS2A_Title				= MS-2A 高度マルチスペクトルスキャナー
		#autoLOC_SCANsat_Multi_MS2A_Description	= いくつかのスペクトルチャンネルで光波長を調べることにより、高度なスキャナーモデルは低詳細のカラー画像、バイオームマップ、資源分布を生成します。少量の電力を消費し、日照下でのみ動作します。
	
		#autoLOC_SCANsat_VS1_Title			= VS-1 高解像度イメージャー
		#autoLOC_SCANsat_VS1_Description	= このエントリーレベルの観測望遠鏡は、美しい高詳細のカラー画像を生成します - 低軌道からのみ。少量の電力を消費し、日照下でのみ機能します。
	
		#autoLOC_SCANsat_VS3_Title			= VS-3 高度高解像度イメージャー
		#autoLOC_SCANsat_VS3_Description = カーバル非政府高解像度観測の頂点であるこの大型で高価なイメージャーは、高詳細のカラー画像を生成し、独自の地表特徴を識別できます。少量の電力を消費し、日照下でのみ機能します。
	
		#autoLOC_SCANsat_VS11_Title			= VS-11 機密偵察イメージャー
		#autoLOC_SCANsat_VS11_Description = *編集済み*は、高度*編集済み*から*編集済み*まで、*編集済み*ごとに*編集済み*のターゲットを観測できます。このような驚くべき*編集済み*は、*編集済み*が*編集済み* *編集済み*と推測するに至りました。中程度の電力を消費し、日照下でのみ機能します。
	
		#autoLOC_SCANsat_R_Title					= SCAN-R 資源マッパー
		#autoLOC_SCANsat_R_Description		= 低軌道高度で良好に機能するエントリーレベルの資源マッピング機器ですが、非常に狭い幅でしかスキャンしません。適度な電力を消費し、日照下でのみ機能します。
	
		#autoLOC_SCANsat_R2_Title				= SCAN-R2 高度資源マッパー
		#autoLOC_SCANsat_R2_Description 	= 高軌道から有用な資源を評価できるミドルテク資源イメージャーです。適度な電力を消費し、日照下でのみ機能します。
	
		#autoLOC_SCANsat_RX_Title				= SCAN-RX ハイパースペクトル資源マッパー
		#autoLOC_SCANsat_RX_Description	= 数百チャンネルのデータを取得し、高軌道から有用な資源分布を評価するハイテク資源イメージャーです。少量の電力を消費し、日照下でのみ機能します。
	}
}