Localization
{
	ja
	{
		#autoLOC_SCANsat_Science_Lo_Title		= 低解像度高度計スキャン
		#autoLOC_SCANsat_Science_Lo_Default1		= 低解像度高度計データを分析しました。
		#autoLOC_SCANsat_Science_Lo_Default2		= 「レーダー高度計センサーが報告しています。どうやったのか分かりませんが、強力な信号を受信し、データを取得しています。これはおやつで祝うべきですね！」
		#autoLOC_SCANsat_Science_Lo_Sun			= センサーが故障しているのではないかと考えます。
		#autoLOC_SCANsat_Science_Lo_Moho		= まあ、少なくともこの低解像度データのおかげでMohoは少しかっこよく見えます。巨大な溶岩の湖とまではいきませんが、それでもクールです。
		#autoLOC_SCANsat_Science_Lo_Eve			= スキャナーから返された粗く不鮮明な高度推定値を見つめ、代わりに高解像度スキャナーを送っていればよかったのにと思います。まあいいでしょう、もっとロケットを打ち上げる絶好の理由になります！（まるで理由が必要だったかのように。）
		#autoLOC_SCANsat_Science_Lo_Gilly		= あなたの低解像度スキャンは既に知っていたことを裏付けました：Gillyは宇宙に浮かぶただのゴツゴツした岩です。少なくとも報告書を見て目を疲れさせる必要はありません。
		#autoLOC_SCANsat_Science_Lo_Kerbin		= この惑星表面の低解像度データでさえ驚くほど有用です。この技術をMunやそれ以遠に展開するのが待ちきれません。
		#autoLOC_SCANsat_Science_Lo_Mun			= データは眼下に広がる風景の大まかな特徴を示しています。高解像度スキャンの方が役立つでしょうが、このデータを使えばおそらく適切な着陸地点を見つけることができるでしょう。
		#autoLOC_SCANsat_Science_Lo_Minmus		= カーバル天文学会の連中が正しかったことをしぶしぶ認めます：Minmusは本当に月でした。自分の目で高度計スキャンを見るまでは信じられなかったでしょう。
		#autoLOC_SCANsat_Science_Lo_Duna		= この低解像度データは少し粗く歪んでいますが、Dunaの適切な着陸地点を探す上で依然として非常に貴重です。突如として、長期的なDunaミッションが現実的な見通しとなりました。
		#autoLOC_SCANsat_Science_Lo_Ike			= データを詳細に調べると、IkeがMunにどれほど似ているかに驚かされます。それらの比較表面地質学について考えます。
		#autoLOC_SCANsat_Science_Lo_Dres		= 低解像度スキャナーを使っても、Dresにはいくつかの顕著な山があることは明らかです。「あの丘には金がある」と確信しているので、資源スキャンの結果が待ちきれません。
		#autoLOC_SCANsat_Science_Lo_Jool		= 高度計？何の高度計です？カーバルのためにも、これはガス巨人です。ランダムに数字を選んで、それでよしとしましょう。
		#autoLOC_SCANsat_Science_Lo_Laythe		= センサーは水を透過できないようです。
		#autoLOC_SCANsat_Science_Lo_Vall		= さて、これです：「Vall（バル）たちが待っていたデータだ！ハハハハハ！ハハハ。ハ。ハ？何だって、誰か面白いと思ってくれるはずだ。」
		#autoLOC_SCANsat_Science_Lo_Tylo		= Laythe、Vall、Joolを頭上に見る地表からの眺めがどのようなものかはまだわかりませんが、このデータは着陸地点を見つけてそれを確かめるのに役立つでしょう。
		#autoLOC_SCANsat_Science_Lo_Bop			= さて、低解像度の高度計データが入手できたので、それをまとめてKSCに送り返すことにしました。バッテリーに残っている電力で全てを送信し、同時に基本システムを稼働させ続けるのに十分であることを願うばかりです。
		#autoLOC_SCANsat_Science_Lo_Pol			= 低解像度スキャンは、Polが確かに巨大な花粉粒のように見えることを確認しました。高解像度スキャンにアップグレードし、電子顕微鏡の分野を進歩させるまで、この類似性が本当にどれほど強いかという疑問は残るでしょう。
		#autoLOC_SCANsat_Science_Lo_Eeloo		= Kerbinの科学者たちはこのデータを長い間待っていました。それが届けば、間違いなく全員でお祝いとおやつが振る舞われるでしょう。

		#autoLOC_SCANsat_Science_Hi_Title		= 高解像度高度計スキャン
		#autoLOC_SCANsat_Science_Hi_Default1		= 高解像度高度計データを分析しました。
		#autoLOC_SCANsat_Science_Hi_Default2		= 「高解像度高度計スキャンは、低解像度のものより間違いなく優れています。SCANは再びそのスキャン技術を証明しました。」
		#autoLOC_SCANsat_Science_Hi_Sun			= 最初から低解像度センサーを信頼していれば、いくらかお金を節約できたことに気づきます。
		#autoLOC_SCANsat_Science_Hi_Moho		= ついに、Mohoに素晴らしさが戻ってきました！巨大な流れる溶岩の川ではないかもしれませんが、このデータは壮観です！
		#autoLOC_SCANsat_Science_Hi_Eve			= 高解像度センサーは霞んだ紫色の雰囲気をうまく切り裂き、表面の微細な詳細を区別することができます。KSCの科学者たちは安心するでしょう。
		#autoLOC_SCANsat_Science_Hi_Gilly		= 超高解像度でも、Gillyはどういうわけか低解像度に見えます。それは本当にゴツゴツした表面です。
		#autoLOC_SCANsat_Science_Hi_Kerbin		= 新しい高解像度技術が提供するデータの色すべてに魅了されます。突然、ミッションコントロールがあなたを昏睡状態から覚まし、あなたは急いで口の端からよだれを拭います。
		#autoLOC_SCANsat_Science_Hi_Mun			= 「はっ！もう退屈な灰色の月じゃない。このスキャンの色を見てください！これで本当に最高の着陸地点を特定できます。」
		#autoLOC_SCANsat_Science_Hi_Minmus		= わあ、Minmusは実在するだけでなく、驚くべき地形を持っています！あの平らな場所の一つに着陸するのが待ちきれません。
		#autoLOC_SCANsat_Science_Hi_Duna		= この高解像度データは素晴らしいです。丘と谷を分析し始め、完璧な着陸地点を探します。
		#autoLOC_SCANsat_Science_Hi_Ike			= データは大きな傾斜した丘とクレーターの存在を確認しています。うまくいけば、KSCのアナリストがこれを使って適切な着陸場所を見つけることができるでしょう。
		#autoLOC_SCANsat_Science_Hi_Dres		= あれは…かなりの山々です。あの丘のいくつかを登ろうとするより、このデータを分析できてよかったと思います。
		#autoLOC_SCANsat_Science_Hi_Jool		= 高解像度でもJoolには表面がないようです。あの理論はそこまででした。少なくともまだ助成金はあります！
		#autoLOC_SCANsat_Science_Hi_Laythe		= マップは主に負の高さを示しています。Laytheの山に登るためだけに、水を抜くことを考えます。
		#autoLOC_SCANsat_Science_Hi_Vall		= 高解像度スキャナーからのデータは、Vallの表面が確かに「しわくちゃ」であることを確認しています。ジーンはあなたに50資金を借りているようですね。
		#autoLOC_SCANsat_Science_Hi_Tylo		= TyloはJoolの衛星の中で最初に発見されたかもしれませんが、このデータはまるで初めて月を発見したかのような気分にさせてくれます。
		#autoLOC_SCANsat_Science_Hi_Bop			= わあ、あの色を見てください。そのデータが何を意味するのか全く分かりませんが、この高解像度データがKSCの皆を感動させることは確かです。
		#autoLOC_SCANsat_Science_Hi_Pol			= このような高品質データがあっても、適切な着陸地点を見つけるのは依然として困難です。一体どうやってこの月はできたのでしょう？
		#autoLOC_SCANsat_Science_Hi_Eeloo		= SAR高度計センサーのデータを調べると、表面の亀裂や裂け目が際立って詳細にわかります。あの潜在的な着陸地点の数々を見てください。

		#autoLOC_SCANsat_Science_Multi_Title		= マルチスペクトル分析
		#autoLOC_SCANsat_Science_Multi_Default1		= マルチスペクトルセンサーデータを分析しました。
		#autoLOC_SCANsat_Science_Multi_Default2		= 「うわー、今どうやってこのデータを受信してるんだ？あのSCANのエンジニアたちは本当に自分たちが何をしているか分かっている。そうでなければ、自分たちが何をしているか全く分かっていないかのどちらかだ。いずれにせよ、おやつの時間だ！」
		#autoLOC_SCANsat_Science_Multi_Sun1		= バイオームデータがないことに驚きます。
		#autoLOC_SCANsat_Science_Multi_Sun2		= バイオームマップに極が見えないのはなぜだろうかと思います。
		#autoLOC_SCANsat_Science_Multi_Moho		= データを精査しながら、多くの科学者が推測してきた、あの捉えどころのない溶岩湖バイオームを見つけられるだろうかと考えます。
		#autoLOC_SCANsat_Science_Multi_Eve		= Eveのバイオームマップの複雑に渦巻く線は、ラーヴァランプや絞り染めのシャツを思い出させます。ああ、あの頃はよかった。次のEveへの宇宙船にはディスコボールを必須搭載だ！
		#autoLOC_SCANsat_Science_Multi_Gilly		= あれだけ目を細めても、あの天文学者たちはここのバイオームを見ることができませんでした。はっ！間抜けな天文学者め！科学に1点、えーっと…科学に0点だ。
		#autoLOC_SCANsat_Science_Multi_Kerbin		= このバイオームデータは本当に驚くべきものです。センサーが設置された日に、特に散らかりやすいスナック菓子を一箱食べたことを覚えているので、それがパンくず耐性であることを願うばかりです。
		#autoLOC_SCANsat_Science_Multi_Mun		= ふむ、月にもバイオームがあったなんて知らなかった。チーズはどのバイオームにあるんだろうか。そして、そこにも他に何かおやつがあるんだろうか。
		#autoLOC_SCANsat_Science_Multi_Minmus		= データを精査しながら、「グレイターフラッツ」という名前がいかに適切かについて考えます。こんな名前を考え出す奴は、この辺にいるエンジニアと違って、相当頭のいいカーバルに違いない。
		#autoLOC_SCANsat_Science_Multi_Duna		= あの甘美な、甘美な科学データをすべて収集するのに最適な場所を探して、バイオームデータをくまなく調べます。うーん、科学…そしておやつ。
		#autoLOC_SCANsat_Science_Multi_Ike		= Ikeから返ってくるデータを精査すると、そのバイオームの多様性に驚かされます。結局のところ、ただの月ですから。そこに眠る科学データを手に入れるのが待ちきれません。
		#autoLOC_SCANsat_Science_Multi_Dres		= 極地、チェック。高地、チェック。中地、チェック。低地、チェック。尾根、チェック。衝突噴出物、チェック。衝突クレーター、チェック。峡谷、チェック。全部揃ったと思います。スキャナーを止めておやつにしましょう！
		#autoLOC_SCANsat_Science_Multi_Jool1		= バイオームデータがないことに驚きます。
		#autoLOC_SCANsat_Science_Multi_Jool2		= バイオームマップに極が見えないのはなぜだろうかと思います。
		#autoLOC_SCANsat_Science_Multi_Laythe		= センサーが陸地バイオームを検出するたびにパーティーを開きたくなります。
		#autoLOC_SCANsat_Science_Multi_Vall		= かなり単純なデータです：極地、高地、中地、そして低地。これで完了です。さあ、おやつにしましょう！
		#autoLOC_SCANsat_Science_Multi_Tylo		= レポートにあるバイオームの多様性に感銘を受けます。Tyloは見上げるだけでなく、見下ろすのもクールです。
		#autoLOC_SCANsat_Science_Multi_Bop		= このBopのバイオームに関する詳細な分析は、この小さな月に対する我々の理解を、期待をはるかに超えて深めるでしょう。素晴らしい一日でした。みんなでおやつだ！
		#autoLOC_SCANsat_Science_Multi_Pol		= Polから送られてくるバイオームデータを見ていると、花粉粒にもバイオームがあるのではないかと考え始めます。しかし、もし活動家たちがその考えに取り憑かれたらどうなるかを知っているので、すぐにその考えを打ち消します。
		#autoLOC_SCANsat_Science_Multi_Eeloo		= Kerbinからこれほど遠い惑星の詳細なバイオームデータが得られるとは驚きです。データが送られてくるレポートを畏敬の念を持って見つめます。

		#autoLOC_SCANsat_Science_Resource_Title		= 資源スキャン
		#autoLOC_SCANsat_Science_Resource_Default1	= 低解像度資源データを分析しました。
		#autoLOC_SCANsat_Science_Resource_Default2	= 「現在、資源センサーのデータを受信しています。この情報は、あの別のグループから得ていたものよりずっと良さそうです…」
		#autoLOC_SCANsat_Science_Resource_Sun		= おそらく、太陽は地表資源を見つけるのに最適な場所ではないでしょう。
		#autoLOC_SCANsat_Science_Resource_Moho		= ついにMohoの地表資源に関する情報をいくつか入手しましたが、あとはなぜ誰かがそこに着陸したいのかを理解する必要があります。
		#autoLOC_SCANsat_Science_Resource_Eve		= Eveの地表資源に関する多くの良いデータを得ています。これは、惑星から脱出する方法を考え出す必要があるときに非常に役立つでしょう。
		#autoLOC_SCANsat_Science_Resource_Gilly		= Gillyの初期資源スキャンは興味深いものです。まるで小惑星採掘のようです。
		#autoLOC_SCANsat_Science_Resource_Kerbin	= ついにKerbinの資源に関するデータをいくつか入手しました。なぜなら、誰もが知っているように、自分の惑星に関する基本情報が欲しいなら、高価で複雑な衛星を軌道に送るに勝るものはないからです。
		#autoLOC_SCANsat_Science_Resource_Mun		= この資源データは、Munが採掘目的にどれほど適しているかを初めて具体的に示してくれます。
		#autoLOC_SCANsat_Science_Resource_Minmus	= ついに、すべてのカーボノートが最初の採掘施設として選ぶMinmusの資源データをいくつか入手しました。
		#autoLOC_SCANsat_Science_Resource_Duna		= この資源データは、最近ヒットしたあのカーバル映画のお気に入りのセリフを追体験するのに一歩近づけてくれます。
		#autoLOC_SCANsat_Science_Resource_Ike		= Ikeは太陽系で最も興味深い天体ではないかもしれませんが、だからといってこの資源データが役に立たないわけではありません。
		#autoLOC_SCANsat_Science_Resource_Dres		= 近くの小惑星で資源を探した方がましです。一体誰がDresなんかに関わりたがるでしょうか。
		#autoLOC_SCANsat_Science_Resource_Jool		= うーん、ガス巨人は地表資源を探すのに最適な場所ではないかもしれませんね…
		#autoLOC_SCANsat_Science_Resource_Laythe	= まあ、ここにはたくさんの良いデータがありますが、実際に着陸して資源を活用できる地表の面積はごくわずかです。
		#autoLOC_SCANsat_Science_Resource_Vall		= 氷に覆われたVallの資源スキャンは、多くの興味深いデータを提供します。
		#autoLOC_SCANsat_Science_Resource_Tylo		= 恐ろしげなTyloについては、どんな資源情報でも手に入れたいものです。
		#autoLOC_SCANsat_Science_Resource_Bop		= Bopは資源を探す場所を決める際に誰もが最初に選ぶ場所ではないかもしれませんが、このデータはいつか役に立つかもしれません。
		#autoLOC_SCANsat_Science_Resource_Pol		= 花粉粒や奇妙なゴツゴツしたものに加えて、Polには興味深い資源鉱床があるようです。
		#autoLOC_SCANsat_Science_Resource_Eeloo		= はるばるEelooまで来たのですから、いっそのことここを露天掘りし尽くして、その先にあるものへと進みましょう。
		
		#autoLOC_SCANsat_Science_Visual_Title		= 視覚スキャン
		#autoLOC_SCANsat_Science_Visual_Default1	= 高解像度視覚データを分析しました。
		#autoLOC_SCANsat_Science_Visual_Default2	= 「SCANチームはまたやってくれました。各天体で私たちが見るべきものをさらに見つけてくれました。」
		#autoLOC_SCANsat_Science_Visual_Sun		= 考え直してみると、私たちのデリケートな望遠鏡を直接太陽に向けるのは、あまり良い考えではないかもしれません。
		#autoLOC_SCANsat_Science_Visual_Moho		= このMohoの高品質視覚データスキャンは、莫大な量の…土…そしておそらくいくらかの溶岩を明らかにしています。
		#autoLOC_SCANsat_Science_Visual_Eve		= 何がEveをあんなに紫色にしているのかはよくわかりませんが、確かにきれいなマップができます。
		#autoLOC_SCANsat_Science_Visual_Gilly		= このGillyの高品質視覚スキャンは、Gillyの低品質視覚スキャンによく似ています。どうやらここにはあまり見るべきものがないようです。
		#autoLOC_SCANsat_Science_Visual_Kerbin	= ついに私たちの母星の表面の良い地図を手に入れることができますが、地表にはカーバルがいないようなので、驚くほど役に立たないでしょう。
		#autoLOC_SCANsat_Science_Visual_Mun		= クレーターの中にクレーター、そのまた中にクレーターがあるようなものです。
		#autoLOC_SCANsat_Science_Visual_Minmus	= まあ、アイスクリームかもしれません…表面はアイスクリームによく似ています…確かめる唯一の方法は、そこへ降りて味見を始めることです！
		#autoLOC_SCANsat_Science_Visual_Duna		= この視覚マップは、赤い惑星が本当に非常に赤いことを確認しています。
		#autoLOC_SCANsat_Science_Visual_Ike		= Dunaの孤独な月IkeはMunによく似ていますが、もしMunにクレーターがなく、本当に退屈だったら、という感じです。
		#autoLOC_SCANsat_Science_Visual_Dres		= この視覚スキャンデータセットは、Dresが本当に存在することをきっぱりと証明しています…誰が知っていたでしょう？
		#autoLOC_SCANsat_Science_Visual_Jool		= あのきれいな緑色の渦巻きは、何か本当に面白いものを隠しているに違いありません。
		#autoLOC_SCANsat_Science_Visual_Laythe	= あの島を独り占めすることも、あるいはあの島も…あの島も、もしかしたらあそこにあるあの島も。ああ、待って、もしかしたらあの島、それか…。
		#autoLOC_SCANsat_Science_Visual_Vall		= この地図はなんだかアイススケートに行きたくさせます。
		#autoLOC_SCANsat_Science_Visual_Tylo		= この新しい視覚データセットは、あらゆる種類の興味深いものを明らかにしています…まあ、実際には、Tyloは軌道から見ると少し退屈に見えます。
		#autoLOC_SCANsat_Science_Visual_Bop		= うーん、それはすべてかなり恐ろしそうに見えます。もしかしたら、軌道上から地図を作るだけに留めて、あまり近づかない方がいいかもしれません。
		#autoLOC_SCANsat_Science_Visual_Pol		= 新しい視覚スキャンデータは、Polが本当に花粉のように見えることを示しています。
		#autoLOC_SCANsat_Science_Visual_Eeloo		= Eelooの表面にあるあの筋や亀裂はすべて、本当に興味深い地図を作り出しています。
	}
}