Localization
{
	ja
	{
		#autoLOC_SCANsat_mainMapToggle		= メインマップ
		#autoLOC_SCANsat_bigMapToggle		= ビッグマップ
		#autoLOC_SCANsat_zoomMapToggle		= ズームマップ
		#autoLOC_SCANsat_overlayToggle		= 惑星オーバーレイ
		#autoLOC_SCANsat_instrumentsToggle	= 計器表示
		#autoLOC_SCANsat_settingsToggle		= 設定
		#autoLOC_SCANsat_mainMapColor		= マップカラー
		#autoLOC_SCANsat_mainMapTerminator	= マップ 昼夜境界線
		#autoLOC_SCANsat_mainMapType		= 地形/バイオーム切替
		#autoLOC_SCANsat_mainMapMinimize	= 機体情報 表示/非表示
		#autoLOC_SCANsat_mainMapStatus		= スキャナー状況インジケーター
		#autoLOC_SCANsat_mainMapPercentage	= アクティブスキャナー完了率
		#autoLOC_SCANsat_bigMapRefresh		= マップ更新
		#autoLOC_SCANsat_bigMapColor		= マップカラー
		#autoLOC_SCANsat_bigMapTerminator	= マップ 昼夜境界線
		#autoLOC_SCANsat_bigMapGrid		= グリッドオーバーレイ
		#autoLOC_SCANsat_bigMapOrbit		= 軌道オーバーレイ
		#autoLOC_SCANsat_bigMapWaypoints	= ウェイポイント
		#autoLOC_SCANsat_bigMapAnomaly		= アノマリー
		#autoLOC_SCANsat_bigMapFlags		= 旗
		#autoLOC_SCANsat_bigMapLegend		= マップ凡例
		#autoLOC_SCANsat_bigMapResource		= 資源オーバーレイ
		#autoLOC_SCANsat_bigMapExport		= マップをディスクにエクスポート
		#autoLOC_SCANsat_resourceCutoffMinus = 資源カットオフ減少
		#autoLOC_SCANsat_resourceCutoffPlus = 資源カットオフ増加
		#autoLOC_SCANsat_resourceSettings = 資源カラー設定を開く
		#autoLOC_SCANsat_overlayRefresh		= マップ更新
		#autoLOC_SCANsat_insNextResource	= 次の資源
		#autoLOC_SCANsat_insPreviousResource	= 前の資源
		#autoLOC_SCANsat_insNextAnomaly		= 次の地表特徴物
		#autoLOC_SCANsat_zoomVesselSync		= 現在の機体と同期
		#autoLOC_SCANsat_zoomVesselLock		= 位置を機体に固定
		#autoLOC_SCANsat_zoomLevelPersist	= 前回のズームレベルを記憶
		#autoLOC_SCANsat_zoomAutoRefresh	= 自動更新
		#autoLOC_SCANsat_zoomMapRefresh		= マップ更新
		#autoLOC_SCANsat_zoomMapWindowState	= ウィンドウサイズ切替
		#autoLOC_SCANsat_zoomMapIn		= ズームイン
		#autoLOC_SCANsat_zoomMapOut		= ズームアウト
		#autoLOC_SCANsat_zoomMapLeft		= 左に移動
		#autoLOC_SCANsat_zoomMapRight		= 右に移動
		#autoLOC_SCANsat_zoomMapUp		= 上に移動
		#autoLOC_SCANsat_zoomMapDown		= 下に移動
		#autoLOC_SCANsat_zoomMapIcons		= マップアイコン
		#autoLOC_SCANsat_waypointToggle		= ウェイポイントセレクター
		#autoLOC_SCANsat_waypointSet		= ウェイポイント作成
		#autoLOC_SCANsat_waypointCancel		= ウェイポイントキャンセル
		#autoLOC_SCANsat_waypointMechJeb	= MechJeb着陸目標設定
		#autoLOC_SCANsat_waypointNameRefresh	= ウェイポイントリセット
	}
}