Localization
{
	ja
	{
		#autoLOC_SCANsat_Warning_DataResetCurrent		= <<1>>の地図を<<2>>のために消しますか？
		#autoLOC_SCANsat_Warning_DataResetAll			= すべての天体の<<1>>を消去しますか？
		#autoLOC_SCANsat_Warning_StockResourceResetCurrent	= <<1>>の標準資源データを消去しますか？
		#autoLOC_SCANsat_Warning_StockResourceResetAll		= すべての天体の標準資源データを消去しますか？
		#autoLOC_SCANsat_Warning_MapFillCurrent			= <<1>>を<<2>>の地図に記入しますか？
		#autoLOC_SCANsat_Warning_MapFillAll			= すべての天体を<<1>>に記入しますか?
		#autoLOC_SCANsat_Warning_ModuleManagerResource		= 警告\nすべてのSCANsat資源スキャン機能にはModule Managerが必要です。
		#autoLOC_SCANsat_Warning_SaveToConfig			= ディスク上の既存の設定ファイルを上書きしますか？
	}
}